name: CI - Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t devflow-backend:latest .

      - name: Tag Docker image
        run: |
          docker tag devflow-backend:latest \
          513158236996.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/devflow-backend:latest

      - name: Push Docker image to ECR
        run: |
          docker push 513158236996.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/devflow-backend:latest
